<h1>Add a Movie</h1>
<form>
		<legend>Add a movie</legend>
		<label for="video_title">Title:</label>
		<input type="text" name="video_title" placeholder="Video Title">
		<label for="video_url">URL:</label>
		<input type="text" name="video_url" placeholder="http://videosite.com/video">
		<label for="description">Description:</label>
		<textarea name="video_description" placeholder="Describe the video (optional)"></textarea>
		<input class="btn btn-primary" type="submit" value="Add video">
</form>